// Файл для scss переменных
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

// <<--- Colors --->>

$primary-text-color: #404040;
$white-color: #ffffff;
$black-color: #000000;
$brown-color: #a38b70;
$brown-light-color: #8d745a;
$fomr-border-color: #d5d5d5;
$light-gray-bg-color: #f2f2f2;
$gray-text-color: #666666;
$light-gray-text-color: #c3c3c3;
$gray-border-color: #d8d8d8;
$dark-gray-bg: #363636;
/*
Неопределенные цвета

#b3b3b3
#bebebe
#d9d9d9
#5e5e5e
*/


// <<--- Fonts --->>

$primary-font: "Arial", sans-serif;
$secondery-font: "Georgia", "Arial", serif;
