.copyright {
  font-size: 18px;
  color: $white-color;
  text-transform: uppercase;
}

.copyright__heart-icon {
  display: inline-block;
  width: 27px;
  height: 24px;

  font-size: 0;
  line-height: 24px;
  vertical-align: top;

  background-image: url("../img/icon-heart.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.copyright__link {
  position: relative;

  color: $white-color;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;

    display: none;
    height: 2px;

    background-color: $brown-color;
  }

  &:hover,
  &:focus {
    &::after {
      display: block;
    }
  }

  &:active {
    color: rgba($white-color, 0.3);

    &::after {
      background-color: $brown-color;
    }
  }
}
