.external-link {
  position: relative;

  display: inline-block;
  padding-right: 9px;

  color: $brown-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $brown-light-color;
  }

  &:active {
    color: rgba($brown-light-color, 0.3);

    &::after {
      opacity: 0.3;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 8px;
    height: 8px;

    background-image: url("../img/icon-link.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}
