.features {
  background-color: #ffffff;
}

.features__wrapper {
  padding-top: 50px;
  padding-bottom: 55px;

  @include container;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  position: relative;

  width: 340px;
  padding-top: 90px;
  padding-right: 30px;
  padding-left: 30px;

  text-align: center;

  border-left: 1px solid #d9d9d9;

  &:nth-child(3n+1) {
    border: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    transform: translateX(-50%);
  }

  &--choice {
    &::before {
      width: 65px;
      height: 61px;

      background-image: url("../img/icon-choice.png");
    }
  }

  &--quality {
    &::before {
      width: 65px;
      height: 57px;

      background-image: url("../img/icon-quality.png");
    }
  }

  &--safety {
    &::before {
      width: 51px;
      height: 57px;

      background-image: url("../img/icon-safety.png");
    }
  }
}

.features__title {
  margin: 0;
  margin-bottom: 29px;

  font-size: 30px;
  line-height: 30px;
  font-family: $secondery-font;
  color: #a38b70;
}
