.page-header {
  background-color: #66ab93;
}

.page-header__wrapper {
  position: relative;

  @include container;
}

.page-header__nav {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding-top: 34px;
}

.page-header__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 525px;
  padding-top: 150px;
  padding-bottom: 150px;

  background-image: url("../img/header-bg.png");
  background-position: center center;
  background-size: cover;
}

.page-header__title {
  margin: 0;

  font-size: 45px;
  line-height: 55px;
  font-family: $secondery-font;
  text-align: center;
  color: #ffffff;
}
