.page-footer {
  background-color: #363636;
}

.page-footer__wrapper {
  padding-top: 44px;
  padding-bottom: 50px;

  @include container;
}

.page-footer__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-footer__logo {
  display: block;
  width: 205px;
  height: 55px;

  img {
    display: block;
  }
}

.page-footer__nav {
  justify-content: flex-start;
  align-items: flex-start;
}
