.page-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-nav__logo {
  display: block;
  flex-shrink: 0;
  width: 205px;
  height: 55px;
  margin-right: 126px;

  img {
    display: block;
  }
}


.page-nav__site-nav {
  flex-shrink: 0;
  width: 450px;
  margin: 0;
  padding-top: 5px;
}

.page-nav__order-button {
  flex-shrink: 0;
  min-width: 170px;
  margin-left: auto;
}
