.popular-products {
  background-color: $light-gray-bg-color;
}

.popular-products__wrapper {
  padding-top: 70px;

  @include container;
}

.popular-products__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.popular-products__title {
  width: 680px;
  margin: 0;
  margin-right: 170px;
}

.popular-products__catalog-link {
  min-width: 170px;
  margin: 0;
}

.popular-products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-products__item {
  width: 308px;
}
