.price {
  background-color: $light-gray-bg-color;
}

.price__wrapper {
  padding-top: 49px;
  padding-bottom: 91px;

  @include container;
}

.price__title {
  margin: 0;
  margin-bottom: 60px;
}

.price__table {
  width: 100%;
}
