.reviews {
  background-color: $white-color;
}

.reviews__wrapper {
  padding-top: 70px;
  padding-bottom: 90px;

  @include container;
}

.reviews__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.reviews__title {
  flex-grow: 1;
  width: 680px;
  margin: 0;
  margin-right: 170px;
}

.reviews__all-button {
  min-width: 170px;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  row-gap: 20px;
}

.reviews__item {
  flex-shrink: 0;
  width: 50%;
}
