.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;

  list-style: none;
}

.site-nav__item {
  margin-right: 50px;

  font-size: 18px;
  line-height: 24px;
  color: $white-color;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }
}

.site-nav__link {
  position: relative;

  color: $white-color;

  &::after {
    content: "";
    position: absolute;
    right: 1px;
    bottom: -10px;
    left: 1px;

    display: none;
    height: 2px;

    background-color: $white-color;
  }

  &:hover,
  &:focus {
    &::after {
      display: block;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
