.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social__slogan {
  margin: 0;
  margin-right: 40px;

  font-weight: 700;
  font-size: 24px;
  line-height: normal;
  font-family: $secondery-font;
  color: $brown-color;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 10px;

  row-gap: 10px;
}

.social__item {
  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;

  border: 1px solid rgba($white-color, 0.1);

  &::before {
    content: "";

    display: block;

    background-repeat: no-repeat;
    background-position: center center;
  }

  &--vk::before {
    width: 18px;
    height: 21px;

    background-image: url("../img/icon-vk.png");
  }


  &--fb::before {
    width: 13px;
    height: 27px;

    background-image: url("../img/icon-facebook.png");
  }


  &--inst::before {
    width: 24px;
    height: 24px;

    background-image: url("../img/icon-instagram.png");
  }


  &:hover,
  &:focus {
    border-color: rgba($white-color, 0.3);
  }

  &:active {
    border-color: rgba($white-color, 0.1);

    &::before {
      opacity: 0.3;
    }
  }
}
